.contact-section-img{
  width: 100%;
  height: 10rem; /* pc calc(100vh - nav-height) */
  object-fit: cover;
}
.contact-section section{
  display: flex;
}
.contact-section > div{
  display: flex;
  width: 50%;
}
.contact-section{
  flex-direction: column;
}
.contact-section-1{
  width: 50%;
  margin: 1rem;
}
.contact-section-1 h1{
  text-align: left;
  color: var(--purple-blue);
}
.contact-section-1{
  text-align: justify;
}
.contact-section-1 div{
  display: flex;
}
.contact-section-1 p:nth-child(3){
  font-weight: bold;
}
.contact-section-1 div img{
  width: fit-content;
  height: 2rem;
  margin-right: 2rem;
}
/* Contact section 2 (form) ---------------------------------- */
.contact-section-2{
  width: 100%;
  margin-right: 1rem;
}
.contact-section-2 p:first-child{
  font-size: .7rem;
  font-weight: bold;
}
.ig-widget{
  display: flex;
  justify-content: center;
  margin: auto;
  width: 80%;
  max-width: 1000px;
  overflow-x: hidden;
}
/* Form  ---------------------------------- */
form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: calc(100%-1rem);
  height: 80%;
  padding: .8rem .6rem;
  box-shadow: -1px 1px 8px #bababa;
  border-radius: 10px;
}
form input, form textarea{
  width: 95%;
  border: none;
  border-bottom: 2px solid var(--purple-blue);
  background: transparent;
  margin: 10px 0 0 0;
}
form textarea{
  box-shadow: 0 0 3px #bababa;
  border-radius: 5px;
  padding: 5px;
  height: 100%;
}
form input::placeholder, form textarea::placeholder{
  font-style: italic;
  color: #7b7b7b;
}
form button{
  margin-top: auto;
  font-size: .85rem!important;
}



/* Modal  ---------------------------------- */
.sms-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 150;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.sms-modal-content{
  position: relative;
  background-color: #d7ffd8;
  padding: 20px;
  border: 3px solid #00a405;
  color: #005b03;
  border-radius: 10px;
  text-align: center;
  width: 80%;
  max-width: 400px;
  height: fit-content;
}
.sms-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 10px;
  color: #00a405;
  font-size: 28px;
  font-weight: bold;
}
.sms-close:hover, .sms-close:focus {
  color: #005b03;
  text-decoration: none;
  cursor: pointer;
}