:root {
  --royal-blue: #0509F2;
  --regular-blue: #059FF2;
  --cian-blue: #05EAF2;
  --steeal-blue: #0554F2;
  --purble-blue: #4E05F2;
}
html{
  scroll-behavior: smooth;
  font-family: 'Lato', sans-serif;
}
body{
  margin: 0;
  padding:0;
}
h1, h2, h3, h4{
  margin-top: 0;
  font-family: 'Bebas Neue', sans-serif;
}
a{
  text-decoration: none;
  color: black;
}
button{
  border: 0;
  cursor: pointer;
}
footer{
  background-color: antiquewhite;
}
*{
  font-family: 'Lato', sans-serif;
}