:root {
  --royal-blue: #0509F2;
  --regular-blue: #059FF2;
  --cian-blue: #05EAF2;
  --steeal-blue: #0554F2;
  --purble-blue: #4E05F2;
}
html{
  scroll-behavior: smooth;
  font-family: 'Lato', sans-serif;
}
body{
  margin: 0;
  padding:0;
}
h1, h2, h3, h4{
  margin-top: 0;
  font-family: 'Bebas Neue', sans-serif;
}
a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}
button{
  border: 0;
  cursor: pointer;
}
*{
  font-family: 'Lato', sans-serif;
}
/* Button styles */
.btn-style-1, .btn-style-2{
  padding: .2rem 1.5rem .3rem;
	background: transparent;
	border: none;
	outline: none;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.btn-style-1{
  color: #ffff;
	background: var(--purble-blue);
}
.btn-style-2{
  color: var(--purble-blue);
  border: 4px solid var(--purble-blue);
  border-radius: 0 8px 0 8px;
}